@media only screen and (min-width: 320px) and (max-width:426px) {
    .Cross-Button {
        background-color: green;
        border-radius: 50%;
        display: inline;
        position: absolute;
        top: 12px;
        right: 15px;
        padding: 1px 5px;
        cursor: pointer;
    }
    
    .cross-img {
        width: 10px;
        min-height: 10px;
        box-sizing: border-box;
    }
    
    .para1{
        text-align: left;
        font-family: sans-serif;
        font-size: x-small;
    }
    
    .Green {
        color: #1b7e4e;
        text-decoration: underline;
    }
    
    div a {
        text-decoration: none;
        color: white;
    }
    
    .top-msg {
        width: 100%;
        padding: 13px;
        padding-inline: 20px;
    }

    .top-bar {
        width: 100%;
        padding: 0px 15px;
        background-color: #10372B;
        background-image: url(/SlicingData/pattern-bg.png);
        min-height: 35px;
    }
    
    .burger {
        display: block;
    }

    .burger-flex {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .burger img {
        position: relative;
        left: 85px;
        top: 6px;
    }
    .Menu-flex {

        display: flex;
        flex-direction: column-reverse;

    }

    .top-flex {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    
    .top-bar-img img {
        position: relative;
        right: 85px;
        top: 6px;    
        width: 100px;
        min-height: 20px;
    }
    
    .top-buttons {
        transform: none;
        display: flex;
        justify-content: center;
        font-weight: 500;
        background-color: transparent;
    }

    .flex{
        display: flex;
        align-items: center;
    }
    
    
    .btn-first {
        padding: 7px 38px;
        background-color: #2A8347;
        background-image: url(/SlicingData/pattern-bg.png);
        font-family: 'Oswald',sans-serif;
        width: 159PX;
        min-height: 35px;
    }
    
    .btn-second {
        padding: 8px 50px;
        background-color: #1b7e4e;
        background-image: url(/SlicingData/pattern-bg.png);
        font-family: 'Oswald',sans-serif;
        word-spacing: 2px;
        width: 159px;
        min-height: 35px;
        margin-left: 0px;
        border-left: 1px solid white;
    }
    .top-buttons a {
        color: white;
    }
    
    .top-buttons p {
        transform: none;
    }

    .nav-bar {
        position: relative;
        background-color: #155938;
        background-image: url(/SlicingData/pattern-bg.png);
        min-height: 40px;
        padding: 15px 23px;
        justify-content: center;
    }

    #nav-bar.Active {
        display: none;

        transition: all 1s linear;
    }
    
    .list {
        position: relative;
        top: 13px;
        right: 95px;
        display: flex;
        flex-direction: column;
    }

    .list li {
        display: inline-block;
    }
      
    .list a {
        display: block;
        padding: 10px 17px;
        text-decoration: none;
        color: #fff;
        transform: none;
        clip-path: polygon(0 0, 100% 0%, 85% 100%, 0% 100%);
        font-family: 'Oswald',sans-serif;
        word-spacing: 2px;
    }
    
    .list p {
        transform: none;
        
    }
      
    .list a:hover {
        background-color: #2A8347;
    }
    .active{
        background-color: #2A8347;
        clip-path: polygon(0 0, 100% 0%, 85% 100%, 0% 100%);
    }
    
    
    .searchIcon {
        margin-left: 0px;
        background-color: #10372B;
        background-image: url(/SlicingData/pattern-bg.png);
        padding: 5px 1px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 308px;
        min-height: 20px;
        flex-direction: row;
    }

    .searchclass {
        font-weight: 500;
        font-size: large;
        color:white;
        width: 80%;
        min-height: 75%;
    }
    
    .searchIcon input {
        background: transparent;
        border: 0;
        outline: none;
        font-size: 20px;
    }
    
    .search-img {
        margin-left: 30px;
        margin-top: 2px;
    }
    
    .HomePage-topline {
        display: none;
    }
    
    .Main-heroA {
        width: 100%;
        min-height: 430px;
        position: relative;
        background-image: url("/SlicingData/hero-bg.png");
        background-size: cover;
        background-position: center;
    }
    
    .Main-heroA::after {
        content: '';
        background-color: #055C4C;
        background-image: url(/SlicingData/pattern-bg.png);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0.7;
    
    }
    
    
    .TextSide {
        color: white;
    }
    
    .TextSide h1 {
        font-family: 'oswald',sans-serif;
        word-spacing: 2px;
        font-weight: 100;
        font-size: x-large;
    }
    
    .hero-backPattern {
        display: flex;
        flex-direction: column-reverse;
        padding: 12px 50px;
        justify-content: space-between;
        gap: 70px;
        align-items: center;
    }
    
    .TextSide pre {
        font-family: 'oswald',sans-serif;
        word-spacing: 2px;
        font-size: x-small;
    }
    
    .ShoeSide {
        background-repeat: no-repeat;
        background-image: url(/SlicingData/video-thumbnail-img.png);
        width: 180px;
        min-height: 170px;
        background-size: cover;
        background-position: center;
    }
    
    .play-icon img {
        background-color: #055C4C;
        width: 45px !important;
        min-height: 45px !important;
        border-radius: 50%;
        opacity: 0.8;
        padding: 7px 15px;
        position: relative;
        top: 65px;
        left: 60px;
    }
    
    .Main-heroA .owl-nav {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }
    
    .Main-heroA .owl-nav .owl-prev {
        position: absolute;
        left: 0;
        Width: 54px;
        min-height: 68px;
    }
    
    .Main-heroA .owl-nav .owl-next {
        position: absolute;
        right: 0;
        Width: 54px;
        min-height: 68px;
    }
    
    .Main-heroA .owl-dots {
        position: absolute;
        margin-left: 90px;
        top: 405px;
    }
    
    .Main-heroA .owl-theme .owl-dots .owl-dot span { 
        border-radius: 0%;
        width: 20px;
        height: 7px;
        opacity: 0.7;
    }
    
    .owl-carousel.owl-drag .owl-item {
        -ms-touch-action: pan-y;
        touch-action: pan-y;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background: none;
    }

    .Main-heroA .owl-nav {
        display: none;
    }

    

    .BundleFlex {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    
    .LeftBundle {
    
        width: 100%;
        padding: 4px 3px;
    }
    
    .ImgBundle .Slider img {
        display: none;
    }

    .ImgBundle .Slider img:first-child {
        
        display: block;
        width: 260px !important;
        height: 210px !important;
        margin: 35px 12px;
        border: 5px solid #94a8a434;
        position: relative;
        left: 300px;
    }
    
    .ImgBundle .owl-nav {
        display: none;
    }
    
    .ImgBundle .owl-nav .owl-prev {
        position: absolute;
        right: 99%;
        top: 5px;
    }
    
    .ImgBundle .owl-nav .owl-next {
        position: absolute;
        left: 625px;
    }
    
    .ImgBundle .owl-dots {
        position: absolute;
        left: 44%;
        bottom: 0%;
    }
    
    .owl-theme .owl-dots .owl-dot span { 
        border-radius: 0%;
        width: 11px;
        height: 4px;
        opacity: 0.9;
        margin: 5px 4px;
    }
    
    .owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
        background: 0 0;
        border: none;
        padding: 0!important;
        cursor: pointer;
    }
    
    .hrEdit {
        width: 95%;
        margin: 18px 5px;
    }    
    
    .Main-Cards {
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }

    .Single-Card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 27%;
        margin: 11px 15px;
    }

    .Single-Card:first-child {
        margin: 11px 15px !important;
    }
    
    
    .Single-Card img{
        width: 255px;
        min-height: 135px;
    }
    
    .Single-Card h1 {
        color: white;
        font-family: 'Oswald', sans-serif;
        font-size: 12px;
        padding: 12px 5px;
    }
    
    .Single-Card p {
        color: #e4e4e4e6;
        font-family: 'Oswald', sans-serif;
        font-size: 9px;
        font-weight: 550;
        padding: 0px 7px;
        word-spacing: 1.7px;
        line-height: 14px;
    }
    
    .CardText {
        background-color: #2A8347;
        width: 255px;
        min-height: 115px;
    }

    .CardText p br {
        display: none;
    }
    
    .ReadMore {
        color: white;
        background-color: #155938;
        background-image: url(/SlicingData/pattern-bg.png);
        width: 255px;
        min-height: 27px;
    }

    .ReadMore h2 {
        padding: 6px 90px;
    }

    .TwoBlocks {
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
        padding: 10px 15px;
    }

    .FirstBlock {
        display: flex;
        flex-direction: column;
        background-color: #2A8347;
        background-image: url("/SlicingData/pattern-bg.png");
        width: 100%;
        margin-top: 25px;
    
    }

    .FirstBlock img {
        width: 100%;
        min-height: 125px;
        clip-path: none;
    }

    .RightFB {
        min-height: 60px;
        padding: 10px 8px;
        word-spacing: 3px;
    }
    
    .RightFB h1 {
    
        color: white;
        font-family: 'Oswald', sans-serif;
        font-size: 14px;
        padding: 12px 0px;
    }

    .RightFB h1 br {
        display: none;
    }
    
    .RightFB p {
        color: #e4e4e4e6;
        font-family: 'Oswald', sans-serif;
        font-size: 12px;
        font-weight: 550;
        padding: 0px 7px;
        word-spacing: 1.7px;
        line-height: 14px;
    }

    .RightFB p br {
        display:none;
    }
    
    .SecondBlock {
        display: flex;
        flex-direction: column-reverse;
        background-color: #155938;
        background-image: url("/SlicingData/pattern-bg.png");
        width: 100%;
    }
    
    .SecondBlock:hover {
        background-color: #04954f;
        background-image: url("/SlicingData/pattern-bg.png");
    }
    
    .SecondBlock img {
        width: 100%;
        min-height: 125px;
        clip-path: none;
    }
    
    .RightSB {
        min-height: 60px;
        padding: 10px 10px;
        word-spacing: 3px;
    }
    .RightSB h1 {
    
        color: white;
        font-family: 'Oswald', sans-serif;
        font-size: 14px;
        padding: 12px 5px;
    }
    
    .RightSB p {
        color: #e4e4e4e6;
        font-family: 'Oswald', sans-serif;
        font-size: 12px;
        font-weight: 550;
        padding: 0px 7px;
        word-spacing: 1.7px;
        line-height: 14px;
    }
    
    .RightBundle {
        width: 100%;
        padding: 0px 0px;
    }
    
    .ASide {
        display: flex;
        flex-direction: column;
        padding: 8px 0px;
        align-items: center;
    }
    
    .RB-Event {
        background-color: #155938;
        background-image: url("/SlicingData/pattern-bg.png");
        width: 80%;
        min-height: 30px;
    }
    
    .RB-Event h1 {
        color: white;
        font-family: 'Oswald',sans-serif;
        font-size: large;
        padding: 6px 15px;
    }

    .RB-Links {
    background-color: #2A8347;
    background-image: url("/SlicingData/pattern-bg.png");
    width: 80%;
    min-height: 220px;
}

.Links-Content {
    display: flex;
    padding: 10px 55px;

}

.Link-line a::before {
    counter-increment: section;
    content: " " counter(section) " ";
    background-color: white;
    color: #04954f;
    padding: 10px 12px;
    position: absolute;
    left: 45px;
}

.Link-No {
    background-color: white;
    width: 20%;
}

.Link-line {
    margin-left: 10px;
}

.Link-No h1 {
    color: #2A8347;
    padding: 0px 12px;
}

.Link-line h5 {
    text-decoration: underline;
    font-family: 'Oswald',sans-serif;
}

.Link-line p {
    color: white;
    font-family: 'Oswald',sans-serif;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #155938;
    background-image: url("/SlicingData/pattern-bg.png");
}

.form h3 {
    color: white;
    font-family: 'Oswald',sans-serif;
    word-spacing: 3px;
    font-size: large;
    padding: 10px 60px;
}

label {
    color: white;
    font-family: 'oswald',sans-serif;
}

.name-mail {
    display: flex;
    flex-direction: column;
    padding: 1px 2px;
}

.name, .email {
    padding: 1px 10px;
}

.country-state {
    display: flex;
    flex-direction: column;
    padding: 5px 2px;
}

.country, .state {
    padding: 1px 10px;
}

.firstfour {
    width: 270px;
    min-height: 27px;
}

.form-gender {
    padding: 5px 15px;
}

textarea {

    width: 270px;
    min-height: 10px;

}

.Gender input[type="radio"] {
    width: 17px;
    min-height: 17px;
    accent-color: #155938;
}

.form-button input {
    background: transparent;
    outline: none;
    border: none;
    color: white;
    font-family: 'oswald',sans-serif;
}

.form-button {
    background-color: #10372B;
    background-image: url("/SlicingData/pattern-bg.png");
    width: 140px;
    min-height: 40px;
    padding: 10px 50px;
}

.form-button:hover {
    background-color: #2A8347;
    cursor: pointer;
}

.btn-padding {
    padding: 15px 75px;
}

.footer {
    background-color: #10372B;
    background-image: url("/SlicingData/pattern-bg.png");
}

.footer-links {
    padding: 20px 2px;
    text-align: center;
}

.footer-links p {
    color: white;
    font-family: 'oswald',sans-serif;
    word-spacing: 3px;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-Icons {
    padding: 1px 75px;
    
} 

.footer-Icons a {
    margin-right: 10px;
}

.footer-Icons img:hover {
    transform: scale(1.5);
}

.footer-copyright {
    padding: 25px 55px;
}

.footer-copyright p {
    color: white;
}

}








/* Tablet Responsiveness Starts here */






@media only screen and (min-width:427px) and (max-width:768px) {


    .para1 {
        text-align: center;
        font-family: sans-serif;
        font-weight: 100;
        font-size: small;
    }

    .nav-bar {
    position: relative;
    background-color: #155938;
    background-image: url(/SlicingData/pattern-bg.png);
    min-height: 40px;
    padding: 1px 1px;
}
      
.list a {
    display: block;
    padding: 10px 6px;
    text-decoration: none;
    color: #fff;
    transform: skew(-20deg);
    font-family: 'Oswald',sans-serif;
    word-spacing: 2px;
}
    
    
    .searchIcon {
        margin-left: 100px;
        background-color: #10372B;
        background-image: url(/SlicingData/pattern-bg.png);
        padding: 4px 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 220px;
        min-height: 20px;
        flex-direction: row;
    }
    
    
    .HomePage-topline {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .HP-LineOne{
        background-color: #2A8347;
        background-image: url(/SlicingData/pattern-bg.png);
        display: inline-block;
        width: 68%;
        min-height: 77px;
        transform: skew(-20deg);
        color: white;
        position: relative;
        right: 17px;
    }
    .HP-LineOne h1 {
        position: relative;
        left: 40px;
        top: 12px;
        font-family: 'Oswald', sans-serif;
        font-size: xx-large;
        font-weight: 100;
        transform: skew(20deg);
    }
    
    .HP-LineTwo {
        background-color: white;
        width: 36%;
        min-height: 77px;
        display: flex;
        justify-content: center;
    }
    
    .HP-LineTwo p {
        color: #2A8347;
        font-size: 12px;
        font-weight: bold;
        font-family: 'Oswald', sans-serif;
        position: relative;
        top: 20px;
        left: 70px;
    }
    
    .HP-LineTwo img {
        width: 170px;
        height: 25px;
        position: relative;
        top: 40px;
        right: 50px;
        }
    
    .Main-hero {
        background-image: url(/SlicingData/hero-bg.png);
        position: relative;
        width: 100%;
        min-height: 580px;
        background-size: cover;
        background-position: center;
      } 
   
    
    
.Main-heroA .owl-nav {
    display: none;
}

.hero-backPattern {
    display: flex;
    padding: 77px 6px;
    justify-content: space-between;
    gap: 145px;
    align-items: center;
}

.Main-heroA .owl-dots {
    position: absolute;
    margin-left: 290px;
    top: 380px;
}



.LeftBundle {
        width: 100%;
        padding: 4px 3px;
    }

.ImgBundle .owl-nav {
        display: none;
    }

.ImgBundle .Slider img:first-child {
    display: none;
}

.Slider img {
    width: 150px !important;
    height: 140px !important;
    margin: 32px 10px;
    border: 5px solid #94a8a434;
}

.LeftBundle {
    width: 70%;
    padding: 4px 0px;
}

.RightBundle {
    width: 29%;
    padding: 41px 0px;
}

.hrEdit {
    width: 95%; 
    margin: 20px 2px;
}

.Single-Card {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 15px 5px;
}

.Single-Card img{
    width: 95%;
    min-height: 120px;
}

.Main-Cards {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.ReadMore h2 {
    font-family: Oswald,sans-serif;
    font-size: medium;
    padding: 8px 80px;
}


.RB-Event {
    background-color: #155938;
    background-image: url("/SlicingData/pattern-bg.png");
    width: 100%;
    min-height: 30px;
}

.RB-Event h1 {
    color: white;
    font-family: 'Oswald',sans-serif;
    font-size: large;
    padding: 4px 15px;
}

.RB-Links {
    background-color: #2A8347;
    background-image: url("/SlicingData/pattern-bg.png");
    width: 100%;
    min-height: 220px;
}

.Link-No {
    background-color: white;
    width: 23%;
}

.Links-Content {
    display: flex;
    padding: 8px 35px;
}

.footer-links {
    padding: 30px 150px;
}

.footer-Icons {
    padding: 1px 300px;
}

.footer-copyright {
    padding: 25px 285px;
}


}



@media only screen and (min-width:321px) and (max-width:375) {

    .btn-first {
        padding: 7px 50px;
        background-color: #2A8347;
        background-image: url(/SlicingData/pattern-bg.png);
        font-family: 'Oswald',sans-serif;
        width: 187PX;
        min-height: 35px;
    }
    
    .btn-second {
        padding: 8px 65px;
        background-color: #1b7e4e;
        background-image: url(/SlicingData/pattern-bg.png);
        font-family: 'Oswald',sans-serif;
        word-spacing: 2px;
        width: 187px;
        min-height: 35px;
        margin-left: 0px;
        border-left: 1px solid white;
    }
}